{% include "../layout/top.html" %}
    <div class="form_wrap">
        <form action="/board/write" method="post">
            <h2>게시판 글 쓰기</h2>
            <ul>
                <li>글 제목</li>
                <li><input type="text" name="title"></li>
            </ul>
            <ul>
                <li>글 내용</li>
                <li>
                    <textarea name="content"></textarea>
                </li>
            </ul>
            <input class="btn" type="submit" value="작성완료" >
            <a class="btn" href="/board/list">돌아가기</a>
        </form>
    </div>
{% include "../layout/bottom.html" %}